{% load static %}

<!DOCTYPE html>
<html>

<head>

  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"

  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>    
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-dark" href="/">Home</a>
          </div>
          {% if not request.user.is_authenticated %}
          <div class="col-md-3">
            <a href="{% url 'blog:my_login' %}" type="button" class="btn btn-outline-success">Kirish</a>
            <a href="{% url 'blog:signup' %}" type="button" class="btn btn-outline-primary me-2">Ro'yxatdan o'tish</a>
          </div>
          {% else %}
          <div class="col-md-3">
              <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://flomaster.top/uploads/posts/2023-10/1697525754_flomaster-top-p-random-risunok-vkontakte-6.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <div>
                    <p class="ps-3">
                          {{ request.user.first_name }}
                          {{ request.user.last_name }}
                    </p> 
                  <li><a class="dropdown-item" href="{% url 'blog:allcomments' %}">Comments</a></li>
                  <li><a class="dropdown-item" href="{% url 'blog:dashboard' request.user.id %}">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'blog:user_logout' %}">Sign out</a></li>
                </ul>
              </div>
          </div>
          {% endif %}  
        </div>
      </header>
    </div>
    
    <main class="container">
      {% block content %}
      {% endblock %}   
    </main>
    

    <dev id="__REC__-container"></div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
      crossorigin="anonymous"></script>
    </body>
</html>
